AnagramsKata/AnagramsKata.UnitTests/obj/
AnagramsKata/AnagramsKata.IntegrationTests/obj/
AnagramsKata/AnagramsKata.IntegrationTests/bin/
AnagramsKata/AnagramsKata.UnitTests/bin/
AnagramsKata/AnagramsKata/bin/
AnagramsKata/AnagramsKata.Domain/obj/
AnagramsKata/AnagramTests/bin/
AnagramsKata/AnagramTests/obj/
AnagramsKata/AnagramsKata/obj/
AnagramsKata/.vs/
AnagramsKata/AnagramsKata.Domain/bin/
